<div id="wrapper">
    <app-header></app-header>
    <app-left-nav-bar></app-left-nav-bar>
    <div>
        <router-outlet></router-outlet>
    </div>
    <!-- <app-footer></app-footer> -->
</div>
<!-- Show Story Previews -->
<div uk-toggle="target: #offcanvas-chat" class="start-chat">
    <svg class="h-7 w-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"></path>
    </svg>
</div>
<app-chat-toggle></app-chat-toggle>
<app-story-preview></app-story-preview>
<!-- <div *ngIf="showPopup">
    <app-create-post></app-create-post>
</div> -->